# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.tmp
*.dav
*.userprefs
*.ilk
*.user
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.exe
*.pdb
*.hg
*.hgignore
*.cache
*/bin
*/obj
/obj
/obj/Release
/obj/Debug
/bin/Debug
/bin/Debug/assets/workshopper/addons
/bin/Release/assets/workshopper/addons
workshopper_log.txt