<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Workshopper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>
<userSettings>
        <Workshopper.Properties.Settings>
            <setting name="lastContentPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="lastImagePath" serializeAs="String">
                <value/>
            </setting>
        </Workshopper.Properties.Settings>
    </userSettings>
</configuration>
